:root {
    --color-primario: #A27B5C;
    --color-secundario: #2C3930;
    --color-terciario: #DCD7C9;
    --color-rojo-intenso: rgb(255, 63, 51);
    --color-negro-mate: rgb(33, 15, 55);
    --color-azul-oscuro: rgb(30, 62, 98);
    --color-verde-fluorecente: rgb(157, 241, 223);
}


body {
    background-color: #D3DAD9 !important;
}

.rojoDanger {
    background-color: var(--color-rojo-intenso) !important;
    color: var(--color-terciario) !important;
}

.lila {
    color: var(--color-verde-fluorecente) !important;
}

.margin2 {
    margin: 0.2rem;
}

.colorAzul {
    background-color: var(--color-azul-oscuro) !important;
    color: var(--color-terciario) !important;
}

.negroMate{
    background-color: var(--color-secundario) !important;
    color: var(--color-terciario) !important;
}

.botonPrimario {
    background-color: var(--color-azul-oscuro) !important;
    color: var(--color-terciario) !important;
}

.btnVerdeF {
    background-color: var(--color-verde-fluorecente) !important;
}
